      <div class="row">
      <div class="jumbotron set-height">
        <div class="row">
          <div class="box col-md-5">
          </div>
          <div class="col-md-7">
            <div class="heading-box">
                Every donation is a small step towards success         
            </div>
            <p id="donate_amount">$1</p>
            <input id="slider1" type="range" value="0" min="1" max="<%= @total_cost.to_f.to_s %>" step="1" onmousemove="updateDonationDisplay(this.value);" onchange="updateDonationDisplay(this.value);" />
            <form method="post" id="donateForm" action="/share">
              <div class="donatetodayblack">Donate this <span>Amount</span></div>
              <input id="hidden_amount" type="hidden" name="amount" value="">
            </form>  
          </div>
        </div>
      </div>


<script type="text/javascript">
  function updateDonationDisplay(value){
    $('#donate_amount')[0].innerHTML = '$' + value
    $('#hidden_amount')[0].value = value;
  }
</script>


      <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <% @items = @org.kits.sample.items %>
          <% @items.each do |item| %>
            <div class="col-sm-3">
              <img class="donate_image" src="<%= item.image_url %>">
              <p class="itemname"><%= item.name %></p>
              <p><%= item.price %></p>
              <!-- <p><%= item.description %></p> -->
              <br />
            </div>
          <% end %>
        </div>
        </div>
      </div>
      </div>



      <script src="https://checkout.stripe.com/checkout.js"></script>

<!-- <button id="customButton">Purchase</button> -->

<script>
  var handler = StripeCheckout.configure({
    key: 'pk_test_6pRNASCoBOKtIshFeQd4XMUh',
    image: 'http://placehold.it/100x100/008F89&text=KS',
    token: function(token) {
      document.getElementById('donateForm').submit();
    }
  });

  $('.donatetodayblack').on('click', function(e) {
    // Open Checkout with further options
    var amount = document.getElementById('slider1').value;
    handler.open({
      name: '<%= @org.name %>',
      description: '',
      amount: amount + '00'
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>