  <div class="row">
    <div class="jumbotron set-height">
      <div class="container">
        <div class="row">
          <div class="box col-md-6">
            <img src="http://res.cloudinary.com/dxhabwozn/image/upload/v1431396645/Handtruck-boxes_kw0pdk.png">
          </div>
          <div class="valign col-md-6">
            <div class="heading-box">
              <div class="choose">
                directions
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <h2 class="center bigger">WHO</h2>
          <p class="center plus_one">
            <%= @org.kits.first.who %>
          </p>
        </div>

        <div class="col-md-4">
          <h2 class="center bigger">WHEN</h2>
          <p class="center plus_one">
            <%= @org.kits.first.when %>
          </p>
        </div>

        <div class="col-md-4">
          <h2 class="center bigger">WHERE</h2>
          <p class="center plus_one">
            <%= @org.kits.first.where %>
          </p>
        </div>

      </div>
    </div>

    <div class="container" style="width: 100%;">
      <div class="row">
        <div class="col-md-12">
          <h2 class="center bigger">WHAT</h2>
          <div class="row">
            <% @items = @org.kits.first.items %>
            <% @items.each do |item| %>
            <div class="col-md-3 col-lg-2">
              <img class="drop_off_image" src="<%= item.image_url %>">
              <p class="itemname"><%= item.name %><br></p>
              <br />
            </div>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>