      <div class="row">
      <div class="topsection call_to_action set-height">
        <div class="mainshadow">
          <div class="action"><%= raw @org.call_to_action %></div>
          <a href="choose.html"><div class="donatetoday">Donate<br/><span>Today</span></div></a>
        </div>
      </div>

      

      <div class="topsection description set-height">
        <div class="shadow">
        <div class="explaination">
          <%= @org.description %>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorem modi sunt, quas debitis consequuntur commodi error possimus, quia, rem culpa porro aspernatur. Nesciunt quam nostrum tempore quia, porro impedit.
        </div>
        </div>
      </div>



      <div class="row">
        <div class="col-sm-7 left leftthird">
            <p>
              <img  class="img-responsive" src="http://res.cloudinary.com/dxhabwozn/image/upload/v1429962053/kitstart-favicon_pxvhxj.png">
            </p>
            <p>
              Kit Start is a tool to "donate today" those often overlooked, but necessary, items to those in need. A small kit makes for a big step towards success.
            </p>
            <a href="hope.html"><div class="donatetoday">Our<br/><span>Hope</span></div></a>
        </div>
        <div class="col-sm-5 lowerthird">
            <h3><%= @org.name %></h3>
            <p>
              <%= @org.lower_third %>
            </p>
            <a href="choose.html"><div class="donatetoday">Donate<br/><span>Today</span></div></a>
        </div>
      </div>

      </div>
<!-- 
<style type="text/css">
  .call_to_action {
    background: url('<%= @org.homepage_bg_image_url %>') no-repeat center center;

  }
  .description {
    background: url('<%= @org.description_image_url %>') no-repeat center center;
  }
</style> -->