<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kit Start | <%= @org.name %></title>
<!-- this css and junk is really confusing me and my style :)
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'bootstrap.min' %>
  <%= stylesheet_link_tag 'navbar' %>
  <%= javascript_include_tag 'application' %>
  
  <%= csrf_meta_tags %>
-->
  <%= favicon_link_tag 'favicon.png' %>
  <!-- Bootstrap core CSS -->
  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- javascript src code -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- custom CSS -->
  <%= stylesheet_link_tag 'custom' %>

  <!-- makes nav bar clickable -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
      <%= render template: 'layouts/nav' %>
      <%= yield %>
      <%= render template: 'layouts/footer' %>
    </div>
</body>
</html>
