<!DOCTYPE html>
<html>
<head>

  <title>Housing First</title>
  <%= stylesheet_link_tag 'bootstrap.min' %>
  <%= stylesheet_link_tag 'navbar' %>
  <%= stylesheet_link_tag 'custom' %>
  <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
</head>
<body>
    <div class="container">
      <%= render template: 'layouts/nav' %>
      <%= yield %>
      <%= render template: 'layouts/footer' %>
    </div>
</body>
</html>
