<!DOCTYPE html>
<html>
<head>

  <title>Kit Start | <%= @org.name %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'bootstrap.min' %>
  <%= stylesheet_link_tag 'navbar' %>
  <%= stylesheet_link_tag 'custom' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
</head>
<body>
    <div class="container-fluid">
      <%= render template: 'layouts/nav' %>
      <%= yield %>
      <%= render template: 'layouts/footer' %>
    </div>
</body>
</html>
